body {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-top: 50px;
    border: 1px solid #41719c;
    display: inline-block;
    padding: 30px;
}

.input-box {
    margin-bottom: 10px;
}

.label-input {
    border: 1px solid #42729d;
    color: white;
    background-color: #2e75b6;
    padding: 5px 7px;
    display: inline-block;
    width: 110px;
    text-align: center;
    margin-right: 10px;
}

.button-box {
    display: flex;
    justify-content: center;
}

.button-submit {
    border: 1px solid #41719c;
    border-radius: 6px;
    padding: 7px 20px;
    background-color:#2e75b6;
    color: white;
    margin-top: 10px;
}

.image-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}